// define color

$primarycolor = {
  'green': #21ce90,//工具栏绿色
  'purple': #8c5fff,//紫色
  'red': #f35833,//错误等信息显示的红色
  'gray': #212122,//主体背景色，黑色
  'font': #FFFFFF,//字段主要颜色，白色
  'buy': #28b996, //买入按钮颜色
  'sell': #fd2e42, //卖出按钮颜色
  'background': #1e1236
}

$secondarycolor = {
  'green': #216549,//深绿色
  'purple': #8c5fff,//紫色
  'red': #733520,//深红色
  'gray': #303034,//底部工具栏背景色
  'font': #999999//字体颜色，底部工具栏字体等默认颜色
}
